html {
  background-color: rgb(0, 0, 0,0.8);
}

body {
  background-image: url(wwo_world.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: Verdana;
  font-size: 16.5px;
  margin: 0;
}

.body {
	padding: 0 10%;
	width: 80%;
}

.header {
	font-size: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 10%;
	width: 80%;
}

.bigger {
	font-size: 45px;
	margin-bottom: 50px;
}

.banner {
	width: 100%;
	height: 100%;
}

.relative {
	position: relative;
}

.infoboxes {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.infobox {
	color: yellow;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.title {
	font-size: 30px;
	color: yellow;
}

/* Cards */
.front,.back {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	backface-visibility: hidden;
	transition: 0.4s ease-in-out;
	transform-style: preserve-3d;
	width: 80%;
	height: 80%;
	padding: 10%;
}

.back {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transform: rotateY(180deg);
	color: white;
	font-size: 17px;
}

.infobox:hover .front {
	transform: rotateY(180deg);
}
.infobox:hover .back {
	transform: rotateY(0deg);
}

.yellow, .yellow:visited {
  color: yellow;
  text-decoration: none;
}